/* see https://stackoverflow.com/questions/47607602/how-to-add-a-tailwind-css-rule-to-css-checker (the second answer - NOT the first) */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-stone-pattern;
  }

  header {
    
  }

  h1 {
    @apply text-4xl;
  }

  .modal-overlay {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-full;
    @apply z-10;
    @apply bg-black;
    @apply bg-opacity-40;
  }

  .modal {
    @apply absolute;
    @apply z-10;
    @apply bg-white;
    @apply w-4/5;
  }
  .modal-title {
    @apply text-center;
  }

  .block-grid {
    @apply m-4;
    @apply grid;
    @apply grid-cols-4;
    @apply gap-6;
  }

  .block-record {
    @apply bg-white;
    @apply rounded;
    @apply text-center;
    @apply hover:bg-green-300;
  }

  .namespace-button-grid {
    @apply m-4;
    @apply p-2;
    @apply grid;
    @apply grid-cols-3;
    @apply gap-4;
  }

  .namespace-button {
    @apply w-auto;
    @apply p-2;
    @apply bg-blue-600;
    @apply text-white;
    @apply text-center;
    @apply rounded-lg;
    @apply hover:bg-blue-900;
    @apply focus:outline-none;
  }

  .pagination-button {
    @apply p-2;
    @apply bg-blue-600;
    @apply text-white;
    @apply rounded;
    @apply text-center;
    @apply rounded-lg;
    @apply hover:bg-blue-900;
    @apply focus:outline-none;
  }

}