/* see https://stackoverflow.com/questions/47607602/how-to-add-a-tailwind-css-rule-to-css-checker (the second answer - NOT the first) */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-stone-pattern;
  }

  header {
    
  }

  h1 {
      @apply text-4xl;
  }

  .namespace-button {
    @apply p-2;
    @apply bg-blue-600;
    @apply text-white;
    @apply text-center;
    @apply rounded-lg;
    @apply hover:bg-blue-900;
  }

}